
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/pokemon/evaluate" method="post" name="form1">

	<div style="float:left">
			<table width="45%" border="0">
				<caption> Filter </caption>
				
				<tr>
					<td>Name</td>
					<td>
						<select name="filterNameDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterNameDropAndOr">
							<option value="">...</option>
							<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterNameVal" id="name" value="" />
					</td>
					<td><input type="radio" name="filterNameCheck" value="Type" /></td>
				</tr>
				<tr>
					<td>Id</td>
					<td>
						<select name="filterIdDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterIdDropAndOr">
							<option value="">...</option>
							<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterIdVal" id="id" value="" />
					</td>
					<td><input type="radio" name="filterIdCheck" value="Type" /></td>
				</tr>
				<tr>
					<td>Type</td>
					<td>
						<select name="filterTypeDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterTypeDropAndOr">
							<option value="">...</option>
							<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterTypeVal" id="type" value="" />
					</td>
					<td><input type="radio" name="filterTypeCheck" value="Type" /></td>
				</tr>

				<tr>
					<td>Habitat</td>
					<td>
						<select name="filterHabitatDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterHabitatDropAndOr">
							<option value="">...</option>
							<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterHabitatVal" value="" />
					</td>
					<td><input type="radio" name="filterHabitatCheck" value="Type" /></td>
				</tr>

				<tr>
					<td>Height</td>
					<td>
						<select name="filterHeightDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterHeightDropAndOr">
							<option value="">...</option>
							<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterHeightVal" value="" /><br/>
					</td>
					<td><input type="radio" name="filterHeightCheck" value="Type" /></td>
				</tr>

				<tr>
					<td>Weight</td>
					<td><select name="filterWeightDropMaxMin">
							<option value="">...</option>
							<option value="max">Max</option>
							<option value="min">Min</option>
						</select>
						<select name="filterWeightDropAndOr">
							<option value="">...</option>
							<<option value="and">And</option>
							<option value="or">Or</option>
						</select>
						<input type="text" name="filterWeightVal" value="" /><br/>
					</td>
					<td><input type="radio" name="filterWeightCheck" value="Type" /></td>

				</tr>
				<tr>
					<td>Columns</td>
					<td>
						<input type="checkbox" name="idColumn" value="" />
						<label for="id">id</label>
						<br/>
						<input type="checkbox" name="nameColumn" value="" />
						<label for="name">name</label>
						<br/>
						<input type="checkbox" name="heightColumn" value="" />
						<label for="height">height</label>
						<br/>
						<input type="checkbox" name="weightColumn" value="" />
						<label for="weight">weight</label>
						<br/>
						<input type="checkbox" name="typeColumn" value="" />
						<label for="type">type</label>
						<br/>
						<input type="checkbox" name="habitatColumn" value="" />
						<label for="habitat">habitat</label>
						<br/>
						<input type="checkbox" name="evolvesIntoColumn" value="" />
						<label for="evolves into">evolves into</label>

					</td>

				</tr>
				<tr><td><br/></td></tr>
				<tr><td><br/></td></tr>
				<tr><td><br/></td></tr>
				<tr><td><br/></td></tr>
				<tr><td>
						<input type="submit" name="ViewAll" value="View All" style = "Width: 1250%" />
					</td>
				</tr>
			</table>
	</div>
	<div style="float:left">
			<table width="45%" border="0">
				<caption> Group </caption>
				<tr><td><br/></td>
					<td><select name="groupEval">
							<option value="">...</option>
							<option value="Count">Count</option>
							<option value="Min">Minimum</option>
							<option value="Max">Maximum</option>
							<option value="Sum">Sum</option>
							<option value="Avg">Avg</option>
						</select>
					</td>
				</tr>
				<tr><td><br/></td>
					<td><select name="groupBy">
							<option value="">...</option>
							<option value="pokedexId">Id</option>
							<option value="Type">Type</option>
							<option value="Habitat">Habitat</option>
							<option value="weight">Weight</option>
							<option value="height">Height</option>

						</select>
					</td>
				</tr>
				<tr>
					<td><br/></td>
				</tr>
				<tr>
					<td><br/></td>
					<td><input type="radio" name="groupValue" value="Type" />Type</td>
				</tr>
				<tr>
					<td><br/></td>
					<td><input type="radio" name="groupValue" value="Habitat" />Habitat</td>
				</tr>
				<tr>
					<td><br/></td>
					<td><input type="radio" name="groupValue" value="EvolvesInto" />Type</td>
				</tr>
				<tr>
					<td><br/></td>
					<td><input type="radio" name="groupValue" value=weight />Weight</td>
				</tr>
				<tr>
					<td><br/></td>
					<td><input type="radio" name="groupValue" value="height" />Height</td>
				</tr>

			</table>
	</div>

	<div style="float:left">
		<table width="55%" border="0">
			<tr><td><br/></td>
			</tr>
			<tr><td><br/></td>
			</tr>

		</table>

	</div>

	<div style="float:left">
		<table width="25%" border="0" style="margin-left:100px;">
			<caption> Sort </caption>
			<tr><td><br/></td>
				<td>
					<select name="sortDirection">
						<option value="">...</option>
						<option value="asc">Ascending</option>
						<option value="desc">Descending</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="pokedexId" /> Id </td>

			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="name" />Name</td>

			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="typename" />Type</td>
			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="identifier" />Habitat</td>
			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="weight" />Weight</td>
			</tr>
			<tr>
				<td><br/></td>
				<td><input type="radio" name="sortValue" value="height" />Height</td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
				<td><input type="submit" name="Submit" value="Submit" align="right" /></td>
			</tr>

		</table>

	</div>



</form>







<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
