<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
            <% let privilegeLevel = JSON.parse(loggedInUser).privilegeLevel %>
            <% let isLoggedIn = JSON.parse(loggedInUser).isLoggedIn %>

			<a href="/">Home</a> |

			<% if(!isLoggedIn) { %>
			<a href="/users/login">Login</a> |
			<a href="/users/register">Register</a> |
			<% } %>

			<% if(privilegeLevel == 1) { %>
			<a href="/users/add">Add New User</a> |
			<a href="/users">Users</a> |
			<a href="/pokemon/types">Manage Poketypes</a> |
			<% } %>

			<a href="/pokemon">Pokemon</a> |
			<a href="/gyms">Gyms</a> |

			<% if(isLoggedIn) { %>
			<a href="/users/logout">Logout</a> |
			Welcome, <%= JSON.parse(loggedInUser).username; %>
			<% } %>

		</div>
		<h1><%= title %></h1>
