<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
<p style="color:green"><%- messages.success %></p>
<% } %>

cscsc
<!--<form action="/gyms/list" method="get" name="f2">-->
    <!--<input type="submit" name="view" value="view gyms">-->
<!--</form>-->
<!--<form action="/pokemon/evaluate" method="post" name="form1">-->

<!--</form>-->







<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
